# --- Maven & Build ---
target/
out/
build/

# --- Java Serialization (Baza de date locală) ---
*.ser

# --- IntelliJ Settings ---
.idea/
*.iml
*.iws
*.ipr
/shelf/
/workspace.xml

# --- Temporary & OS Junk ---
*.bkp
*.tmp
.DS_Store
Thumbs.db

*.dtmp